{
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "printWidth": 120,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "proseWrap": "always"
}
